body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    text-align: center;
}
header{
    background-color: white;
    padding: 20px;
}
h1{
    color: rgb(221, 14, 110);
    font-size: 2.5em;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
}

.detalhes, .sobre-mim {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.card{
    background-color: rgb(189, 23, 125) ;
    color:white;
    padding:20px;
    border-radius: 8px;
    text-aling:center;
}
button{
    display: block;  
    width: fit-content; 
    margin: 20px auto; 
    padding: 10px 20px;
    border: 2px solid #c41e7f;
    color: #d43981 (102, 3, 102);
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;

}
button:houver{
    background: #E65100;
    color:wheat;
}
main{
    
    justify-content:space-around ;
    width:100vw;
    display: flex;
    align-items: center;
}
img{
    width: 290px;  
    height: 286px; 
    border-radius: 50%; 
;
}
@media screen and(max-width: 1600px) and(min-width:1325px){
    section{
        width: 100%;
    }
}
@media(max-width:1324px)and(min-width:1125px){
    section{
        width: 100%;
    }
}
@media(max-width: 1224px)and(min-width:1001px){
    section{
        width: 100%;
    }
}
@media(max-width: 1000px)and(min-width:936px){
    section{
        width: 100%;
    }
}
@media(max-width: 761px)and(min-width:640px){
    section{
        width: 100%;
    }
}

@media(max-width: 639px)and(min-width:502x){
    section{
        width: 100%;
    }
}


